/* Styles for the header */

header {
  font-family: 'Tilt Prism', cursive;
  background-color: #333;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  font-size: 32px;
  margin: 0;
}

header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

header nav li {
  margin-right: 20px;
}

header nav li:last-child {
  margin-right: 0;
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

header nav a:hover {
  text-decoration: underline;
}

/* Styles for the article */
font-family: 'Raleway', sans-serif;

 
article {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article h3 {
  font-size: 24px;
  margin-top: 0;
}

article img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

article p {
  line-height: 1.5;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 50px;
}

footer h4 {
  font-size: 24px;
  margin-bottom: 20px;
}

.footer-links li {
  list-style-type: none;
  margin-bottom: 10px;
}

.footer-links li a {
  text-decoration: none;
  color: #fff;
}

.social-icons li {
  display: inline-block;
  margin-right: 10px;
}

.social-icons li:last-child {
  margin-right: 0;
}

.social-icons li a {
  color: #fff;
}

.contact-info li {
  list-style-type: none;
  margin-bottom: 10px;
}

.contact-info li i {
  margin-right: 10px;
}
